<!DOCTYPE html>
<html>
<head>
  <title>SpudVideos</title>
  <%= stylesheet_link_tag    "spud_videos/application", :media => "all" %>
  <%= javascript_include_tag "spud_videos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
